<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'bootstrap.css' %}"> -->
</head>
<style>
    .custom-container {
        background-color: #ffd8e4;
        height: 100vh;
        /* Set the height to 100% of the viewport height */
        overflow-y: auto;
        /* Allow vertical scrolling if content overflows */
    }
    .is-fab {
    width: 100%;
    position: fixed; /* Change this to relative */
    bottom: 0;

    justify-content: flex-end; /* Change this to flex-end */
    display: flex;
    padding: 20px;
}

.has-content-centered {
    display: flex; /* Corrected flex property */
    justify-content: flex-end;
}
</style>
<body">
    <!-- NAV BAR-->
    <nav class="navbar is-danger" role="navigation" aria-label="main navigation" style="position: fixed; top: 0; width: 100%;">
        <div class="navbar-brand">
            <a class="navbar-item">
                <h2 style="font-size: 30px;"><strong>Quora Project</strong></h2>
                <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/home">
                    Posts
                </a>

                <a class="navbar-item" href="/questions">
                    Questions
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-warning" href="/signup">
                            <strong>Sign Up</strong>
                        </a>
                        {% if user.is_authenticated %}

                        <a class="button is-warning" href="/logout">
                            <strong>Log Out</strong>
                        </a>

                        {% else %}

                        <a class="button is-warning" href="/login">
                            <strong>Log In</strong>
                        </a>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- NAV BAR-->
    <!-- Message -->
    <div class="container is-max-desktop custom-container" style="margin-top: 60px; height: calc(100vh - 60px);">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="field">
              <label class="label">Question</label>
              <div class="control">
                <textarea class="textarea" name="message" placeholder="Textarea"></textarea>
              </div>
            </div>
            
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" type="submit">Submit</button>
              </div>
            </div>
          </form>
        
    </div>
    <!-- Message -->

    <!-- Pop Up -->
    </body>
    <script src="{% static 'bootstrap.js' %}">
       
    </script>

</html>